#profilePhoto {
    width: 60%;
    height: 60%;
}
body {
    background-color: rgb(92, 91, 91);
    font-family: 'Roboto', 'Verdana';
    font-size: 14px;

}
.content {
    background-color: rgb(92, 91, 91);
}
#dpersonales {
    background-color: #FFFFFF;
    color: black;
    max-width: 400px;
}

@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}
.floating-d {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.floating-p {
    position: fixed;
    bottom: 55px;
    right: 10px;
}
.badge {
    text-transform: uppercase;
}
@media (max-width: 768px){
    .information{
        margin-top: 25px;
    }
}
