#profilePhoto {
    width: 60%;
    height: 60%;
    margin: 21%;
    border: px solid white;
}
body {
    font-family: 'Roboto', 'Verdana';
    font-size: 14px;
    background-image: url('./images/bg.png');
    background-size: cover;
}
#dpersonales {
    max-width: 400px;
    background-color: rgba(53, 75, 134, 0.973) ;
    color: white;
}

a {
    color: black;
  }

#cardcontent{
    background-color: rgba(53, 75, 134, 0.7) ;
}

@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
    }
    .container {
        width: auto;
      }
}

.floating-d {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.floating-p {
    position: fixed;
    bottom: 55px;
    right: 10px;
}
.badge {
    text-transform: uppercase;
}
@media (max-width: 768px){
    .information{
        margin-top: 15px;
    }
}

.label-lan{
    font-size: 11px;
    margin-bottom: 2px;
}
